click==6.7
decorator==4.1.2
Flask==0.12.2
Flask-Cors==3.0.3
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
networkx==1.10
nxpd==0.2.0
pyparsing==2.2.0
six==1.11.0
Werkzeug==0.12.2
gunicorn==19.7.1
gevent==1.2.2
